.read-more {
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  /* animation-name: read-more-anim;
  animation-duration: 0.25s;
  animation-direction: reverse; */
}
.read-more:hover {
  cursor: pointer;
  letter-spacing: 0.33rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  animation-name: read-more-anim;
  animation-duration: 0.25s;
}
@keyframes read-more-anim {
  from {
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 1);
  }
  to {
    letter-spacing: 0.33rem;
    color: rgba(255, 255, 255, 1);
  }
}

.post-page {
  animation-name: post-page-anim;
  animation-duration: 0.33s;
}
@keyframes post-page-anim {
  from {
    transform: scaleY(0);
    filter: opacity(0);
  }
  to {
    transform: scaleY(1);
    filter: opacity(1);
  }
}

.load-more {
}
.load-more:hover {
  color:rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  animation-name: load-more-anim;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes load-more-anim {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
  0%{
    transform: scale(1);
  }
}
